<h1 id="tableLabel">Listado Usuarios</h1>
<table *ngIf="usuarios">
  <thead>
    <tr>
      <th>Tipo documento</th>
      <th>Documento identidad</th>
      <th>Apellidos</th>
      <th>Contraseña</th>
      <th>Número de teléfono</th>
      <th>Flag eliminado</th>
      <th>Fecha de registro</th>
      <th>Fecha de modificación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td><input type="checkbox" [(ngModel)]="usuario.isSelected" /></td>
      <td>{{ usuario.TIP_DOCUMENTO }}</td>
      <td>{{ usuario.VAR_DOC_IDENTIDAD }}</td>
      <td>{{ usuario.VAR_APELLIDOS }}</td>
      <td>{{ usuario.VAR_PASSWORD }}</td>
      <td>{{ usuario.VAR_NUM_TELEFONO }}</td>
      <td>{{ usuario.INT_FLG_ELIMINADO }}</td>
      <td>{{ usuario.FEC_REGISTRO }}</td>
      <td>{{ usuario.FEC_MODIFICACION }}</td>
      <td>
        <button *ngIf="usuario.isSelected" (click)="openModal(usuario)">Modificar</button>
        <button *ngIf="usuario.isSelected">Eliminar</button>
      </td>
    </tr>

  </tbody>
</table>
